/* this file is loaded by index.html and styles the page */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* style formats

main: #00ffbb
alt: #00c994
light: #ffffff
dark: #f2f2f2

title: Montserrat
content: Roboto
*/

/* override defaults */

html {
  font-size: 130%;
}

body {
  background-color: #00c994;
  margin: 0;
}

h1 {
  font-family: "Montserrat";
  color: #00c994;
  margin: 0;
  text-shadow: 1px 1px 4px #828282;
}

h2 {
  font-family: "Montserrat";
  color: #00c994;
  margin: 0;
}

h3 {
  font-family: "Montserrat";
  color: black;
  margin: 0;
  font-weight: normal;
}

h4 {
  font-family: "Montserrat";
  color: black;
  margin: 0;
  font-weight: normal;
}

h5 {
  font-family: "Montserrat";
  color: black;
  margin: 0;
}

h6 {
  font-family: "Montserrat";
  color: black;
  margin: 0;
}

p {
  font-family: "Roboto";
  font-weight: 300;
  color: black;
  margin: 0;
  font-size: 0.85em;
}

blockquote {
  font-family: "Montserrat";
  color: #575757;
  margin: 0;
}

div {
  padding: 0px;
  padding-top: 0px;
  margin-right: 0.5vw;
  padding-bottom: 0px;
  margin-left: 0.5vw;
  margin: 0px;
}

/* divider styles */

.div {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15%;
  padding-right: 15%;
}

.div1 {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 15%;
  padding-right: 15%;
}

.div2 {
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 15%;
  padding-right: 15%;
}

/* margins for content */

.margin {
  margin-bottom: 25px;
}

.margin2 {
  margin-bottom: 50px;
}

/* centre class */

.centre {
  text-align: center;
}

/* button */
.button {
}

.button:link,
.button:visited {
  transition-duration: 0.5s;
  background-color: #00ffbb;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

.button:hover,
.button:active {
  transition-duration: 0.5s;
  background-color: #00f2b2;
}

/* heading button */
#hb {
  transition-duration: 0.5s;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid white;
  background: none;
  color: white;
}

#hb:hover {
  transition-duration: 0.5s;
  font-size: 1.2em;
}

/* links */
a:link {
  color: #009c72;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #009c72;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #00d197;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #00d197;
  background-color: transparent;
  text-decoration: none;
}

/* header scroll effect */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px;
  margin-top: 0px;
  /*border-bottom-style: solid;
  border-bottom-radius: 0.01px;
  border-bottom-color: #00ffbb;*/
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
  background-color: rgba(255, 255, 255, 0.85);
  opacity: 
}

/* Page content */
.content {
  padding: 0px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.header + .content {
  padding-top: 3px;
}

/* other styles */

/* for the heading */
.heading {
  background-image: url("https://cdn.glitch.com/8dcd60f5-e159-4b42-a8ec-6541453d821a%2Fhogwarts_is_my_home_by_melanieskyethunder_d4xcc7i-fullview.jpg?v=1611120789800");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: * 100%;
  background-position: center;
  background-attachment: fixed;
  padding-top: 15%;
  padding-bottom: 15%;
}

/* rows and columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 29.33%;
  padding-left: 2%;
  padding-right: 2%;
}

/*footer style */
.footer {
  background-color: #00ffbb;
  padding-bottom: 110px;
}

/* sidenav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00ffbb;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: Montserrat;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #545454;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  font-size: 1.4em;
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* sidenav transition */
#main {
  transition: margin-left 0.5s;
}

/* overlay for sidenav */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

/* images */
.circle {
  border-radius: 50%;
}

.centreimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 750px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
